<footer class="footer">
  <div class="footer-section">
    <h3>Property of Cow Inc</h3>
    <div class="icons-container">
      <i class="fa fa-github fa-2x icons" aria-hidden="true"></i>
        <a className="" href="https://github.com/gearyaudie"></a>
      </i>
      <i class="fa fa-linkedin fa-2x icons" aria-hidden="true">
        <a href="#" class=""></a>
      </i>
    </div>
  </div>
</footer>
</body>
</html>